{% load static %}

<div class="footer">
    <div style="display: flex;" class="footer-text">
        <div class="footer-1">
            <h4><i style="font-size: 15px;" class="fa-brands fa-facebook"></i> <span style="padding-left:5px; font-weight:300">ASERC</span></h4> 
            <h4><i style="font-size: 15px;" class="fa-solid fa-envelope"></i> <span style="padding-left: 5px; font-weight:300">ajses.aserc@gmail.com</span></h4>
            <h4><i style="font-size: 15px;" class="fa-solid fa-location-dot"></i> <span style="padding-left: 5px; font-weight:300">AZ 1110, Baku city, N.Narimanov district, Mirali Gashgai str. 97 / 37</span></h4>
        </div> 

        <div class="footer-2">
            <h4 style="font-weight:300;">Ünvanı xəritədə tap.</h4>
            <img src="{% static 'img/map.svg' %}" alt="">
        </div>
    </div>
    <center>
        <hr>
    </center>
    <h4 style="text-align: center; margin:15px; font-weight:300;">Copyright © ASERC</h4><br>
</div>

<a href="#" class="to-top"><i class="fas fa-chevron-circle-up"></i></a>

<script src="{% static 'js/main.js' %}"></script>  
</body>
</html>