{% extends 'dashboard/dsh_base.html' %}
{% load static %}

{% block title %}
  Page 2
{% endblock title %}

{% block body %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Page 2</h6>
        </div>
  
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                      <th scope="col">Pagename</th>
                      <th scope="col">Title</th>
                      <th scope="col">Text</th>
                    </tr>
                </thead>
                {% for p in my_page %}
                <tbody>
                    <tr>
                        <td>{{p.pagename}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.text | safe}}</td>
                        <td><center><a class="btn btn-sm btn-primary" href="{% url 'dashboard:edit_page2' p.id %}"><i class="fa-solid fa-gear"></i></a></center></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock body %}